body{
    background-color: #F8E7D4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
}
.start,
.game,
.final{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 5vh;
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
}
.start{
    gap: 6vh;
}
.game{
    gap: 1vh;
}
.popUp{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 5vh;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50,0.6);
}
.pop{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next{
    position: absolute;
    margin-top: 37vh;
}
.nextbtn{
    width: 20vh;
}
.title{
    width: 95%;
}
button{
    background-color: rgba(255, 255, 255,0);
    border: 0px;
    width:100%;
    padding: 4%;
}
.startbtn{
    width: 80%;
}
.btn{
    width: 30vh;
}
.image{
    width: 120%;
}
.logo{
    margin-left: 10%;
    width: 100%;
}
.zone{
    width: 100%;
}
.top{
    right: 0%;
    width: 100%;
    height: 6%;
    display: flex;
    gap: 40%;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
    visibility: hidden;
}
.QuestionNumber{
    height: 5vh;
    width: 15vh;
    font-family: "Noto Sans";
    display: flex;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    background-image: url("./img/questionNumberBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: white;
}
.btn1,
.btn2,
.btn3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer{
    width: 95%;
    padding: 2.5% auto;
}
.Q{
    width: 45vh;
}
.end{
    width: 30vh;
}
.correct{
    width: 35vh;
}
p{
    font-size: 170%;
    font-weight: 600;
    margin: 2%;
    font-family: "Noto Sans";
}
.question{
    text-align: center;
    width: 100%;
}

@media only screen and (orientation:landscape){
    body{
        transform: rotate(90deg);
    }
}