
/*mobile*/
body {
    font-family: 'noto';
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
}

*{
    font-family: 'Noto Sans SC', sans-serif;
}

.start{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 15px;
}

.logo{
    max-width: 150px;
    padding-left: 15px
}

.game-title{
    margin-top: auto;
    
}
.title{
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}
button{
    background-color: transparent;
    border: 0px;
    width:100%;
    padding: 2.5% 5%;
}

.cover-bottom{
    margin-top: auto;
}
.cover-bottom img{
    width: 100%;
    height: auto;
}

/*question*/
.QuestionNumber{
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    background-color: #EC2027;
    width: 60px;
    margin: 0 auto;
    border-radius: 30px;
    -webkit-box-shadow: 0px 15px 0px 0px #B9181D; 
box-shadow: 0px 5px 0px 0px #B9181D;
}

.question {
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    font-weight: 500;
}

.question p{
    margin: 0;
}

img.answer{
    width: 100%;
}

img.btn{
    width: 100%;
}

button.submit, button.playAgain{
    max-width: 75%;
    display: flex;
    margin: 0 auto;
}

.startbtn{
    max-width: 250px;
}
.popUp{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 5vh;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(50, 50, 50,0.6);
}
.pop{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next{
    position: absolute;
    margin-top: 37vh;
}
.correct{
    width: 35vh;
}
.final{
    height: 100vh;
    width: 100%;
}
.final .end{
    display: flex;
    margin: 0 auto;
    max-width: 60%;
}
button.playAgain{
    margin-top: 30px;
}
.hide{
    display: none;
    visibility: hidden;
}

button{
    cursor: pointer;
}

.game .logo, .final .logo{
    max-width: 100px;
}
.game .zone, .final .zone {
    max-width: 60px;
}

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1199px){
    .logo{
        max-width: 250px;
    }
    .title{
    padding: 5% 15%;
    }
    .question{
        font-size: 32px;
    }
    .answer-q{
        max-width: 500px;
        margin: 0 auto;
    }
    button.submit, button.playAgain{
        max-width: 450px;
    }
    .final .end{
        max-width: 450px;
    }
}
/*desktop*/
@media screen and (min-width:1200px){
    .start, .game, .final{
        max-width: 400px;
        margin: 0 auto;
    }
    button.submit, button.playAgain{
        max-width: 200px;
    }
    .startbtn{
        max-width: 200px;
    }
    .answer-q{
        max-width: 320px;
        margin: 0 auto;
    }
    .final .end{
        max-width: 320px;
    }
}

